<div class="mt-4">

    <form method = "POST" action="/phase1/create">
        <div class = "form-group">
            <label for = "duaration">duaration</label>
            <input type="text" class ="form-control" id = "duaration" name = "duaration" />
        </div>
        <div class = "form-group">
            <label for = "image">image</label>
            <input type="text" class ="form-control" id = "image" name = "image" />
        </div>
        <div class = "form-group">
            <label for = "name">name</label>
            <input type="text" class ="form-control" id = "name" name = "name" />
        </div>
        <div class = "form-group">
            <label for = "title">title</label>
            <input type="text" class ="form-control" id = "title" name = "title" />
        </div>
        <div class = "form-group">
            <label for = "film">film</label>
            <input type="text" class ="form-control" id = "film" name = "film" />
        </div>

        <button type="submit">submit</button>

    </form>

</div>

<style>
    .form-control{
        display: block;
        margin-top:10;
    }
</style>