<div class="mt-10">
    <form method= "POST" action="">
      <div class="mb-3">
        <label for="search-input" class="form-label">Email address</label>
        <input type="text" class="form-control" id="search-input" aria-describedby="emailHelp">

      </div>
      <div>
          <label for= "gender">key</label>
          <select name="gender" class="form" id="genderinput">
              <option>
                  --chon--
              </option>
              <option>
                  Nam
              </option>
          </select>
      </div>

      <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
