<nav class="navbar  navbar-dark bg-dark">
  <div class="container">
    <div class="" style="width:7%;">
      <a class="navbar-brand" href="/"><img src="/icon/M3.svg" width="100%"  alt=""></a>
    </div>
      <div style="color:white; margin-top:10px; ">
          <h5>MARVELEnglishLearing</h5>
      </div>
 

    <div class=" justify-content-end" >
        <ul class="nav nav-pills">
          <li class="nav-item dropdown">  
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" >
              <img src="/icon/dmlogo2.svg" alt="">
            </a>
            <ul class="dropdown-menu" style="background-color: black;">
              <li style="padding-left:3px; padding-right:3px; background-color:black;color:aliceblue">Tính năng đang được phát triển.</li>
             
            </ul>
          </li>
        </ul>

    </div>
  </div>
</nav>
